/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a basic style to the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

/* Style for the header */
header {
    background-color: orange;
    padding: 10px;
    text-align: center;
}

/* Style for the main content */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.container ,
.top,
.riize{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size:20px;
    text-align: center;
    letter-spacing: 5px;
}
.riize{
    font-weight:bold;
    letter-spacing: 0px;
}

.group-image-container{
    display: flex; /* 이미지와 텍스트를 가로로 나란히 정렬하기 위해 추가 */
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.group-image{
    margin-top: 50px;
}

.group-image img {
    max-width: 100%;
    height: auto;
}

.group-text-container,
.date-container,
.debut,.date,.sns,.infor{
    flex: 1;
    text-align: left;
    margin-left: 20px; 
    font-size:16px;
    line-height: 2;
}

.date-container{
    /* display:flex; */
    margin-left: 0;
    margin-bottom: 40px;
}
.debut{
    
    font-weight: bold;
}
.date{
    color: grey;
}

.group-text-container img{
    margin-top: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}
a{
    text-decoration: none;
}

/* ==========================.group-image-container 끝 */
.music-album,
.music-button{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    font-size:20px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;
}
.music-album{
    margin-top: 50px;
    
    
}
.album-image {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.album-image img {
    width: 235px;
    max-width: 100%; 
}
/* -------------------------------------------------------------- */

.music-button {
    background: orange;
  background: linear-gradient(0deg, orange 0%, orange 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .music-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .music-button:before,
  .music-button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: orange;
    transition: all 0.3s ease;
  }
  .music-button:before {
    height: 0%;
    width: 2px;
  }
  .music-button:after {
    width: 0%;
    height: 2px;
  }
  .music-button:hover{
     background: transparent;
    box-shadow: none;
  }
  .music-button:hover:before {
    height: 100%;
  }
  .music-button:hover:after {
    width: 100%;
  }
  .music-button span:hover{
     color: orange;
  }
  .music-button span:before,
  .music-button span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: orange;
    transition: all 0.3s ease;
  }
  .music-button span:before {
    width: 2px;
    height: 0%;
  }
  .music-button span:after {
    width: 0%;
    height: 2px;
  }
  .music-button span:hover:before {
    height: 100%;
  }
  .music-button span:hover:after {
    width: 100%;
  }
  
.music-button{
    width: 350px;
    height: 40px;
}

/* Footer style */
/* footer {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
    .group-image-container{
        flex-direction: column;
        align-items: center;
        
    }
    .group-image{
        margin-top: 20px;
    }
    .date-container{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .group-text-container{
        align-items: center;
        margin-left: 0;
    }
    .album-image {
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .album-image{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size:20px;
        text-align: center;
        letter-spacing: 5px;
    }
    .album-image img{
        margin-right: 5px;
    }
    
    
}
